/* stylelint-disable */
@import "tailwindcss";

@source not "./tailwindcss";
@source not "./daisyui{,*}.mjs";

/* Relative path to DaisyUI bundle files */
@plugin "./daisyui.mjs";

@plugin "./daisyui-theme.mjs" {
  name: "vantage";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(19.2% 0.014 258.363);
  --color-base-200: oklch(22.2% 0.014 258.363);
  --color-base-300: oklch(26.2% 0.014 258.363);
  --color-base-content: oklch(95.2% 0.010 93.571);
  --color-primary: oklch(62.3% 0.123 165.499);
  --color-primary-content: oklch(16.2% 0.014 258.363);
  --color-secondary: oklch(38.6% 0.070 173.855);
  --color-secondary-content: oklch(95.2% 0.010 93.571);
  --color-accent: oklch(85.9% 0.073 171.774);
  --color-accent-content: oklch(38.6% 0.070 173.855);
  --color-neutral: oklch(16.2% 0.014 258.363);
  --color-neutral-content: oklch(86.3% 0.013 96.474);
  --color-info: oklch(58% 0.123 241.966);
  --color-info-content: oklch(95.2% 0.010 93.571);
  --color-success: oklch(65.3% 0.129 162.480);
  --color-success-content: oklch(30.1% 0.077 168.940);
  --color-warning: oklch(73.7% 0.128 65.700);
  --color-warning-content: oklch(25.2% 0.112 45.904);
  --color-error: oklch(58.9% 0.122 20.900);
  --color-error-content: oklch(20.4% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@theme {
	--font-sans: "Inter", sans-serif;
	--font-mono: "IBM Plex Mono", monospace;
	--color-teal-50: oklch(95.349% 0.02296 173.123);
	--color-teal-100: oklch(85.93% 0.07347 171.848);
	--color-teal-200: oklch(76.47% 0.11489 168.377);
	--color-teal-400: oklch(62.307% 0.12316 165.53);
	--color-teal-600: oklch(48.086% 0.09077 170.14);
	--color-teal-800: oklch(38.632% 0.07032 173.889);
	--color-muted-content: oklch(62.214% 0.01031 100.154);
}
